@page

<!-- I'm really glad you're here!  I hope you like what you see. If you take nothing else away, please always remember that your
    personal value has nothing at all to do with what others perceive of you.  You are unlimited in potential, and have tremendous
    value to those around you.

    Have a great day! -->

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="/css/site.css" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">

        <!-- Font Awesome-->
        <script src="https://kit.fontawesome.com/1595915e20.js"></script>

        <!-- Custom styles for this template -->
        <!-- <link src="/css/resume.min.css" rel="stylesheet"> -->
        <!-- Bootstrap core JavaScript -->
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for this template -->
        <script src="/js/resume.min.js"></script>


    </head>

<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Joe Valentine</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#education">Education</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid p-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
            <div class="w-100">
                <h1 class="mb-0">
                    Joe
                    <span class="text-primary">Valentine</span>
                </h1>
                <div class="subheading mb-5">
                    Upstate New York ·
                    <a href="mailto:jwvalentine@outlook.com">jwvalentine@outlook.com</a>
                </div>
                <p class="lead mb-5">Joe is an experienced network and systems engineer with a strong passion for development and automation.  He aims to provide a firm foundation through careful consideration, strategizing, and routine communication.  He's passionate about his work and expects the same from others.  Afterall, if you don't enjoy what you do, why do it?</p>
                <div class="social-icons">
                    <a href="https://www.linkedin.com/in/joseph-valentine-3366837/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="https://github.com/jwvalentine">
                        <i class="fab fa-github"></i>
                    </a>
                    <a href="https://twitter.com/netdork">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
            <div class="w-100">
                <h2 class="mb-5">Experience</h2>



                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Chief Business Development Officer</h3>
                        <div class="subheading mb-3">Webjogger</div>
                        <p>Business development and strategic planning for continuity and growth.  Identifying, establishing, and managing crucial vendor partnerships.  Establishing and nurturing real inter-personal relationships with employees, customers, and vendors.  Managing the implementation of (hardware and software) projects at scale: from hundreds to millions of dollars.  Leading the design and development of custom internal applications focusing on process and system automation, and self-healing.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">December 2019 - Present</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Solutions Architect</h3>
                        <div class="subheading mb-3">Webjogger</div>
                        <p>Business development and strategic planning.  Design architecture for network, storage, and systems projects passed along for engineering level staff to implement.  Managing the implementation of (hardware and software) projects at all scales: from hundreds to millions of dollars.  Design and develop custom internal applications for process and system automation and self-healing.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">March 2013 - November 2019</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Software Developer</h3>
                        <div class="subheading mb-3">TreadWare</div>
                        <p>Primary developer and senior support engineer for an international software title which solves problem domains for commercial independent retreaders.  Problem solving, leveraging C# in an MVVM design pattern.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">February 2016 - Present</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Senior Consultant</h3>
                        <div class="subheading mb-3">Avrio Group</div>
                        <p>Delivered systems engineering and administration services as a technology consultant for customers in public and private sectors.  Started as a help desk technician and achieved a senior level position in three years of non-stop hard work and dedication to personal growth.  Insatiably devoured technology concepts and advanced my understanding (and career).</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">October 2006 - March 2013</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                        <h3 class="mb-0">Systems Administrator</h3>
                        <div class="subheading mb-3">United States Army (Active and Reserve)</div>
                        <p>Collaboratively administered sites and cells of wireless communication for combat-oriented missions as part of Operation Iraqi Freedom.  Performed tasks and held responsibilities which are tightly controlled and limited in growth capacity due to the operational aspects of military service.</p>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2002 - August 2010</span>
                    </div>
                </div>

            </div>

        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
            <div class="w-100">
                <h2 class="mb-5">Education</h2>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="resume-content">
                        <h3 class="mb-0">Cyber Center of Excellence</h3>
                        <div class="subheading mb-3">Network Systems Operator/Maintainer</div>
                        <div>Fort Gordan, GA</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 2003 - March 2004</span>
                    </div>
                </div>

                <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
                    <div class="resume-content">
                        <h3 class="mb-0">South River High School</h3>
                        <div class="subheading mb-3">Network Applications and Technology Track</div>
                        <div>Edgewater, MD</div>
                    </div>
                    <div class="resume-date text-md-right">
                        <span class="text-primary">August 1999 - May 2002</span>
                    </div>
                </div>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
            <div class="w-100">
                <h2 class="mb-auto">Skills</h2>
                <div class="subheading mb-3">Programming Languages &amp; Tools</div>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item">
                        <i class="fab fa-html5"> HTML5</i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-css3-alt"> CSS3</i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-js-square"> jQuery</i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-microsoft"> C#, ASP.NET, Azure, E.F.</i>
                    </li>
                    <br />
                    <li class="list-inline-item">
                        <i class="fab fa-python"> Python</i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fab fa-github"> Git</i>
                    </li>
                    <br />
                    <li class="list-inline-item">
                        <i class="fab fa-docker"> Docker</i>
                    </li>
                    <br />
                    <li class="list-inline-item">
                        <i class="fa fa-code-fork"> CI/CD</i>
                    </li>
                    <li class="list-inline-item">
                        <i class="fa fa-gamepad"> Unity</i>
                    </li>
                </ul>
                <br />

                <div class="subheading">Workflow</div>
                <ul class="fa-ul mb-auto">
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Agile Development &amp; Scrum
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Mobile-First, Responsive Design, UX Principals
                    </li>
                    <li>
                        <i class="fa-li fa fa-check"></i>
                        Cross Browser/Platform Testing &amp; Debugging
                    </li>
                </ul>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
            <div class="w-100">
                <h2 class="mb-5">Interests</h2>
                <p>Despite being a technology enthusiast, I enjoy most of my time being unplugged. In the winter, I am all about coaching and playing ice hockey. During the warmer months here in Upstate New York, I enjoy hiking, fly fishing, bon fires, and pretty much anything outdoors.</p>
                <p class="mb-0">When forced back indoors, I enjoy board games with friends and family, nurturing creativity by tinkering with some new or different technology, or catching up on some great movies I've added to my "watch" list.</p>
            </div>
        </section>

        <hr class="m-0">

        <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
            <div class="w-100">
                <h2 class="mb-5">Awards &amp; Certifications</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Army Achievement Medal:<br />
                        For skill, professionalism, and dedication which far surpassed expectations of command staff while supporting the Officer Candidate School training cycle
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Army Commendation Medal:<br />
                        For meritorious service to the U.S. Army and the United States of America during deployment for Operation Iraqi Freedom
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Good Conduct Medal:<br />
                        For exemplary conduct, efficiency and fidelity while serving in the U.S. Army
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Accredited Cylance Security Professional
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Cisco Certified Network Associate (Expired, 2016)
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Fortinet Network Security Expert
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        Microsoft Certified Professional
                    </li>
                    <li>
                        <i class="fa-li fa fa-trophy text-warning"></i>
                        2<sup>nd</sup>
                        Place - Center of Applied Technology - Skills USA Competition 2001
                    </li>
                </ul>
            </div>
        </section>

    </div>
</body>
